@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}
@theme {
  --color-pri: #fdfbcf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f9f9;
    --foreground: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1 {
  @apply text-4xl font-bold;
  
}

h3 {
  @apply text-xl/8 font-semibold;
}

.samples-back-btn:hover svg {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}