@import "tailwindcss";

/* nprogress default styles */
@import 'nprogress/nprogress.css';



/* Customize the loading bar color/size */
#nprogress .bar {
  background: #5a5a5a !important; /* Tailwind blue-500 */
  height: 4px !important;
  opacity: opacity 0.3s ease-out;
}

#nprogress .peg {
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #3b82f6 !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}
@theme {
  --color-pri: #fdfbcf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f9f9;
    --foreground: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1 {
  @apply text-4xl font-bold;
  
}

h3 {
  @apply text-xl/8 font-semibold;
}

.samples-back-btn:hover svg {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}